@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
address, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
    padding: 0;
    font-family: 'Source Serif Pro', serif;
}
.page-container{
    width: 100%;
    height: auto;
}
.gov-heading{
    width: 100%;
    background-color: #E9EAEE;
    display: flex;
}
.gov-coat{
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 5px;
    width: 25px;
    height: relative;
}
.gov-heading h5{
    padding-left: 5px;
    padding-top: 7px;
    padding-bottom: 10PX;
}
.gov-map{
    margin-left: 60%;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 5px;
    width: 50px;
    height: 25px;
}
.head-label{
    width: 100%;
    display: flex;
}
.lb{
    width: 38%;
    display: flex;
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: #0A744D;
}
.lb-coat{
    width: 175px;
    height: 175px;
    padding-left: 10px;
    padding-right: 15px;
}
.lb-title{
    display: block;
}
.min-white{
    padding-top: 25px;
    color: white;
}
.lb-title h1{
    display: block;
    width: 100%;
    font-size: 42px;
}
.welcome{
    width: 62%;
    background-color: #ffe600;
}
.welcome-img{
    width: 100%;
    height: 195px;
}
.nav-bar{
    width: 100%;
    display: block;
    background-color: white;
}
.nav-bar1 {
    width: 100%;
    display: flex;
}
.nav-bar1 nav {
    padding: 12px 24px 12px 24px ;
    display: flex;
    justify-content: space-between;
    position: absolute;
}
.nav-bar1 nav a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
}
.nav-links1 {
    list-style-type: none;
    display: flex;
}
.top-nav1 input[type=text] {
    margin-left: 105px;
    padding-left: 25px;
    width: 375px;
    border: none;
    background-color: #E9EAEE;
    border-radius: 25px;
}
nav ul li a:hover {
    color: #0A744D;
    transition: 0.3s;
    border-bottom: 1.75px solid #0A744D ;
}
.nav-bar2{
    margin-top: 50px;
    display: flex;
}
.nav-bar2 nav {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    background-color: #d1d1d4;
}
.nav-bar2 nav a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding-right: 45px;
    padding-left: 45px;
}
.nav-links2 {
    list-style-type: none;
    display: flex;
}
.body-container{
    width: 100%;
    height: auto;
    background-color: #0B574C;
    margin-top: 50px;
}
.doc{
    padding-top: 55px;
}
.doc-row{
    display: flex;
    width: 100%;
}
.appli-section{
    width: 350px;
    display: block;
}
#appli-1{
    margin-left: 15%;
}
.app-forms{
    display: flex;
}
.doc-text{
    display: block;
}
.doc-img{
    width: 55px;
    height: 65px;
    padding: 0px 5px 5px 0px;
}
.appli-section h3{
    padding-top: 25px;
}
.appli-section p,h3{
    color: white;
}
.leaders img{
    width: 190px;
    height: 190px;
}
.leaders{
    width: 100%;
    display: flex;
}
.shaw{
    width: 50%;
    display: block;
    text-align: center;
}
.spence{
    width: 50%;
    display: block;
    text-align: center;
}
.body h1{
    padding: 25px 0px 25px 0px ;
    text-align: center;
    color: #ffe600;
}
.body p{
    color: white;
}
.ministry{
    margin: auto;
    width: 65%;
    text-align: center;
    border-bottom: 3px solid grey;
    padding-bottom: 25px;
}
.label{
    display: flex;
    font-size: 24px;
}
.label-green label{
    margin-left: 25px;
    padding: 5px 8px 5px 8px ;
    color: white;
    background-color: #0A744D;
}
.label button{
    margin-left: 80%;
    padding: 5px 8px 5px 8px ;
    color: white;
    background-color: #ffe600;
    border: none;
    font-size: 24px;
}
button a{
    color: white;
    text-decoration: none;
}
#slide {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 68%;
    height: 450px;
    background-position: auto ;
    background-size: cover;
    background-repeat: no repeat;
    backface-visibility: hidden;
    animation: slidec 60s linear infinite 0s;
    animation-duration: 40s;
    animation-timing-function: ease-in-out;
    background-image: url('../img/gallery/peach.jpg');
    object-fit: cover;
}
@keyframes slidec {
    10% {
        background-image: url('../img/gallery/soil.jpg');
        object-fit: cover;
    }
    20% {
        background-image: url('../img/gallery/fishpond.jpg');
        object-fit: cover;
    }
    30% {
        background-image: url('../img/gallery/fish.jpg');
        object-fit: cover;
    }
    40% {
        background-image: url('../img/gallery/chicken.jpg');
        object-fit: cover;
    }
    50% {
        background-image: url('../img/gallery/chicken2.jpg');
        object-fit: cover;
    }
    60% {
        background-image: url('../img/gallery/farm.jpg');
        object-fit: cover;
    }
    70% {
        background-image: url('../img/gallery/plant.jpg');
        object-fit: contain;
    }
    80% {
        background-image: url('../img/gallery/water.jpg');
        object-fit: cover;
    }
    90% {
        background-image: url('../img/gallery/sheep.jpg');
        object-fit: cover;
    }
    100% {
        background-image: url('../img/gallery/shrimp.jpg');
        object-fit: cover;
    }
}
.articles{
    width: 100%;
    margin-top: 25px;
    display: block;
}
.art-box{
    margin: auto;
    width: 50%;
}
.art-row1{
    margin: auto;
    width: 100%;
    text-align: center;
    display: flex;
}
.art-row1 img{
    margin: auto;
    width: 50%;
}

.opp{
    padding-right: 12%;
    text-align: center;
}
#opp-img{
    width: 100%;
    height: auto;
}
.art-row1 .bene img{
    width: 100%;
    height: auto;
}

.art-row2{
    margin: auto;
    width: 100%;
    text-align: center;
    display: flex;
}
.art-row2 img{
    width: 100%;
    height: auto;

}
#road-img{
    padding-left: 2%;
}
.road{
    padding-right: 15px;
}
.mess{
    padding-right: 15px;
}
.food{
    padding-right: 15px;
}
.art-row1{
    padding-bottom: 15px;
}
.articles {
    padding-bottom: 35px;
}

.articles a{
    color: white;
}
.videos{
    margin: auto;
    width: 100%;
}
.vid-emb{
    margin: auto;
    width: 50%;
    height: auto;
}
iframe{
    margin: auto;
    width: 100%;
    height: 365px;
}

.agen-label{
    display: flex;
    font-size: 24px;
}
.label-green label{
    margin-left: 25px;
    padding: 5px 8px 5px 8px ;
    color: white;
    background-color: #0A744D;
}
.agen-label button{
    margin-left: 70%;
    padding: 5px 8px 5px 8px ;
    color: white;
    background-color: #ffe600;
    border: none;
    font-size: 24px;
}
.page-nav{
    margin: auto;
    width: 50%;
    height: auto;
}
span button{
    width: 50%;
    color: white;
    margin: 10px 10px 10px 10px;
    background-color: #bf7417;
    border-radius: 15px;
    border:none;
}
span{
    
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-right: 5px;
}
.part-agencies{
    margin:auto;
    width: 100%;
    display: flex;
}
.agencies{
    margin: auto;
    width: 50%;
    height: auto;
    display: flex;
    padding-top: 25px;
    padding: 5%;
    padding-right: 5%;
}
.agh3{
    padding-right: 3%;
    padding-left: 3%;
    text-align: center;
}
.agencies a{
    color: white;
    text-decoration: none;
}
.footer{
    margin: auto;
    width: 100%;
}
.rowuno{
    margin: auto;
    width: 100%;
    display: flex;
    padding-bottom: 10px;
}
.address{
    margin: auto;
    width: 24%;
    padding-left: 5%;
}
.open-hours{
    margin: auto;
    width: 24%;
}
.other-links{
    margin: auto;
    width: 24%;
}
.other-links2{
    margin: auto;
    width: 24%;
}
.other-links{
    margin: auto;
    width: 24%;
}
.footer_coat{
    width: 8%;
    height: auto;
    height: auto;
}
.social_icons {
    display: flex;
}
.social_icons a{
    color:#222;
    padding-right: 5px;
}
.footer .other-links2 a{
    color: black;
    text-decoration: none;
    list-style-type: none;
    display: flex;
}